* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    background-color: rgb(241, 229, 213);
}

body {
    margin: 0;
}

header {
    width: 100%;
    padding: 80px;
    text-align: center;
    background: linear-gradient(rgb(214, 189, 193), transparent 20%),
                linear-gradient(0deg, rgb(241, 229, 213), transparent),
                url("../images/wedding.nosync/stock6.jpg")no-repeat center;
    background-size: cover;
}

h1 {
    font-size: 5em;  /* 80px; 80px/16px = 5em */
    margin: 0;
    padding: 80px 0 10px 0;
    color: rgb(221, 146, 146);
    text-shadow: 1px 2px rgb(77, 74, 74);
}

header p {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(80, 119, 80);
    padding-bottom: 40px;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    background-color: rgb(80, 119, 80);
    color: white;
    padding: 15px;
    margin: 25px;
    font-size: 1.2rem;
}

/* .main-content {
    text-align: center; 
     padding: 40px; 
} */

#timer {
    text-align: center;
    font-size: 30px;
    background-color: rgb(51, 43, 66);
    color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hide-timer {
    padding: 12px;
    margin: 12px;
    font-size: 25px;
    background-color: rgb(218, 212, 212);
    color: rgb(63, 60, 60);
}

.welcome h2,
.help h2,
.help h2,
.testimonies h2 {
    font-size: 3.25em; /* 3.25em = 50px */
    margin: 20px 0 10px;
    text-align: center;
    color: rgb(73, 71, 71);
}


.welcome p {
    text-align: center;
    font-size: 30px;
    padding: 50px;
}

.form {
    background-color: rgb(80, 119, 80);
    background-size: cover;
    margin: auto;
    padding: 40px;
}

.join h2 {
    font-size: 3.25em; /* 3.25em = 50px */
    margin: 20px 0 10px;
    color: rgb(241, 229, 213);
    text-align: center;
}

/* .form label,
.form select,
.form input {
    margin-bottom:30px;
    margin-left: 20px;
} */

/* Flexbox on main-info form container*/
.main-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.sign-up {
    text-align: center;
}

.sign-up button {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    background-color: rgb(221, 146, 146);
    color: rgb(73, 71, 71);
    border: none;
    box-shadow: 2px 2px rgb(77, 74, 74);
    max-width: 30%;
    margin-top: 20px;

}

.form label {
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    color: rgb(210, 208, 206);
    margin-top: 20px;
}

.form input,
.form select {
    font-size: 55px;
    border-radius: 5%;
    box-shadow: 0.5px 2px rgb(125, 115, 105);
    color: rgb(73, 71, 71);
}

.help {
    text-align: center;  
}

.calendar,
.cash {
    max-width: 200px;
    filter: grayscale(100%);
    border-radius: 50%;
    padding: 20px;
    margin: 0;
}

.col1,
.col2,
.col3 {
    margin: 50px;
    text-align: center;
    border: dashed 2px rgb(80, 119, 80);
    padding: 30px;
}

.story-cards {
    padding: 10px;
}

.wedding-pic {
    max-width: 100%;
}

/* Slideshow Container Styles */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .caption {
    color: #f2f2f2;
    font-size: 40px;
    padding: 20px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

    /* Hover styles on captions for image carousel */
  .caption:hover {
      background-color: lightgrey;
      color: rgb(80, 119, 80);
      font-weight: bold;
      text-transform: uppercase;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

    /* Fading Animation for Image Carousel */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

footer {
    text-align: center;
    background-color: rgb(80, 119, 80);
    color:  rgb(197, 181, 181);
}

.quote-mark {
    font-size: 10em;  /* 160px; 160px/16px = 10em */
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 100px;
    color:  rgb(197, 181, 181);
}

.quotes {
    max-width: 60%;
    font-size: 2em;
    margin: auto;
    padding: 0;
    font-style: italic;
}

.copywrite {
    margin-bottom: 0;
}


/* Media Queries */

/* @media (min-width: 769px) {} */
    
    /* nav ul {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    nav li {
        display: inline-block;
        list-style: none;
        padding: 10px;
        margin-bottom: 40px;
    } */


    /* .form  {
    border-radius: 10%;
    width: 40%; 
    }  
    
    
    nav li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin-bottom: 40px;
}*/
