* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    background-color: rgb(241, 229, 213);
}

body {
    margin: 0;
}

header {
    width: 100%;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgb(214, 189, 193), transparent 20%),
                linear-gradient(0deg, rgb(241, 229, 213), transparent),
                url("images/wedding.nosync/stock6.jpg")no-repeat center;
    background-size: cover;
}

h1 {
    font-size: 5em;  /* 80px; 80px/16px = 5em */
    margin: 0;
    padding: 80px 0 10px 0;
    color: rgb(197, 107, 107);

}

header p {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(197, 107, 107);
    padding-bottom: 40px;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    background-color: rgb(80, 119, 80);
    color: white;
    padding: 20px;
    margin: 20px;
    font-size: 1.3rem;
}

nav li {
    /* display: inline-block; */
    list-style: none;
    padding: 10px;
}

.main-content {
    text-align: center;
    padding: 40px;
}

.welcome,
.help,
.join h2 {
    text-align: center;
    margin-top: 10px;
}

.form {
    background-color: rgb(80, 119, 80);
    border-radius: 10%;
    margin: 20px 30%;
    width: 40%;
    height: 40%;
    padding: 30px;
}

/* Flexbox on main-info form container*/
/* .main-info {
    display: flex;
    align-content: flex-start;
} */

.main-info {
    font-size: 1.5em;
}


.help {
    text-align: center;  
}

.calendar,
.cash {
    max-width: 150px;
    padding: 20px;
    margin: 0;
}

.col1,
.col2 {
    margin: 15px;
    text-align: center;
    border: dashed 2px cadetblue;
    padding: 20px;
}

.form label,
.form select,
.form input {
    margin-bottom:30px;
    margin-left: 20px;
}




