* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

header {
    width: 100%;
    padding: 0;
    text-align: center;
    background: 
                center no-repeat url("images/wedding.nosync/stock6.jpg");
}

h1 {
    size: 16em;
    padding: 30px 0 10px 0;
    color: lightcoral;
}

header p {
    font: bold;
    color: lightcoral;
}

nav a {
    text-decoration: none;
    background-color: rgb(80, 119, 80);
    color: white;
    padding: 5px;
    margin: 10px;
}

nav li {
    list-style: none;
    padding: 10px;
}

.main-content {
    text-align: center;
    padding: 40px;
}

.welcome,
.help,
.join h2 {
    text-align: center;
    margin-top: 10px;
}

.form {
    background-color: rgba(133, 197, 154, 0.397);
    border-radius: 10%;
    padding: 30px;
}

/* Flexbox on main-info form container*/
/* .main-info {
    display: flex;
    align-content: flex-start;
} */

.main-info {
    font-size: 1.5em;
}


.help {
    text-align: center;  
}

.calendar,
.cash {
    max-width: 150px;
    padding: 20px;
    margin: 0;
}

.col1,
.col2 {
    margin: 15px;
    text-align: center;
    border: dashed 2px cadetblue;
    padding: 20px;
}

.form label,
.form select,
.form input {
    margin-bottom:30px;
    margin-left: 20px;
}




