* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    background-color: rgb(241, 229, 213);
}

body {
    margin: 0;
}

header {
    width: 100%;
    padding: 80px;
    text-align: center;
    background: linear-gradient(rgb(214, 189, 193), transparent 20%),
                linear-gradient(0deg, rgb(241, 229, 213), transparent),
                url("images/wedding.nosync/stock6.jpg")no-repeat center;
    background-size: cover;
}

h1 {
    font-size: 5em;  /* 80px; 80px/16px = 5em */
    margin: 0;
    padding: 80px 0 10px 0;
    color: rgb(221, 146, 146);
    text-shadow: 1px 2px rgb(77, 74, 74);
}

header p {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(80, 119, 80);
    padding-bottom: 40px;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    background-color: rgb(80, 119, 80);
    color: white;
    padding: 15px;
    margin: 25px;
    font-size: 1.2rem;
}

/* .main-content {
    text-align: center; 
     padding: 40px; 
} */

h2 {
    font-size: 3.25em; /* 3.25em = 50px */
}

.welcome,
.help,
.testimonies {
    text-align: center;
    color: rgb(73, 71, 71);
    padding: 50px;
}

.welcome p {
    font-size: 30px;
}

.form {
    background-color: rgb(80, 119, 80);
    background-size: cover;
    color: rgb(241, 229, 213);
    margin: auto;
    padding: 40px;
}

.join {
    text-align: center;
}

.form label,
.form select,
.form input {
    margin-bottom:30px;
    /* margin-left: 20px; */
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
}

/* .form input,
.form select {
    margin-left: 30px;
} */

/* Flexbox on main-info form container*/
/* .main-info {
    display: flex;
    align-content: flex-start;
} */

/* .main-info {
    font-size: 1.5em;
} */


.help {
    text-align: center;  
}

.calendar,
.cash {
    max-width: 200px;
    filter: grayscale(100%);
    border-radius: 50%;
    padding: 20px;
    margin: 0;
}

.col1,
.col2 {
    margin: 50px;
    text-align: center;
    border: dashed 2px rgb(80, 119, 80);
    padding: 20px;
}

.testimonies h2 {
    text-align: center;
}


.story-cards {
    padding: 10px;
}

.wedding-pic {
    max-width: 700px;
    /* border-radius: 50%; */
}

footer {
    text-align: center;
    background-color: rgb(80, 119, 80);
    color:  rgb(197, 181, 181);
}

.quote-mark {
    font-size: 10em;  /* 160px; 160px/16px = 10em */
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 100px;
    color:  rgb(197, 181, 181);
}

.quotes {
    max-width: 60%;
    font-size: 2em;
    margin: auto;
    padding: 0;
    font-style: italic;
}

.copywrite {
    margin-bottom: 0;
}


/* Media Queries */

/* @media (min-width: 769px) {} */
    
    /* nav ul {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    nav li {
        display: inline-block;
        list-style: none;
        padding: 10px;
        margin-bottom: 40px;
    } */


    /* .form  {
    border-radius: 10%;
    width: 40%; 
    }  
    
    
    nav li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin-bottom: 40px;
}*/
